{% extends 'base.html.twig' %}
{% form_theme edit_form 'form/bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Редактирование</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="row justify-content-between">

        <div class="col-4">
            <a class="btn btn-primary btn-block" href="{{ path('apartment_index') }}">Назад</a>
        </div>
        <div class="col-4">
            <input class="btn btn-danger btn-block" onclick="$('form[name=form]').submit();
                    return true;" type="submit" value="Удалить" />
        </div>
        <div class="col-4">
            <input class="btn btn-success btn-block" type="submit" value="Изменить" />
        </div>
        
    </div>
    {{ form_end(edit_form) }}


    {{ form_start(delete_form) }}
    {{ form_end(delete_form) }}



{% endblock %}
