{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список квартир</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Цена</th>
                <th>Описание</th>
                <th>Адрес</th>
                <th>Высота потолков</th>
                <th>Площадь</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for apartment in apartments %}
                <tr>
                    <td><a href="{{ path('apartment_show', { 'id': apartment.id }) }}">{{ apartment.id }}</a></td>
                    <td>{{ apartment.price }}</td>
                    <td>{{ apartment.description | raw }}</td>
                    <td>{{ apartment.address }}</td>
                    <td>{{ apartment.height.value }}</td>
                    <td>{{ apartment.space }}</td>
                    <td>
                        <div class="button-action">
                            <a class="btn btn-outline-success" href="{{ path('apartment_show', { 'id': apartment.id }) }}">Просмотр</a>
                            <a class="btn btn-outline-warning" href="{{ path('apartment_edit', { 'id': apartment.id }) }}">Изменение</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('apartment_new') }}">Добавить квартиру</a>

{% endblock %}
