{% extends 'base.html.twig' %}
{% form_theme form 'form/bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Apartment creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row justify-content-between">
  
            <div class="col-4">
                <a class="btn btn-primary btn-block" href="{{ path('apartment_index') }}">Назад</a>
            </div>
            <div class="col-4">
                <input class="btn btn-success btn-block" type="submit" value="Добавить" />
            </div>
     
    </div>
    {{ form_end(form) }}
    </br>


{% endblock %}
