{% extends 'base.html.twig' %}

{% block body %}
    <h1>Описание квартиры</h1>

    <table class="table table-striped table-bordered detail-view">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apartment.id }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ apartment.price }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ apartment.description | raw }}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ apartment.address }}</td>
            </tr>
            <tr>
                <th>Высота потолков</th>
                <td>{{ apartment.height.value }}</td>
            </tr>
            <tr>
                <th>Площадь</th>
                <td>{{ apartment.space }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}

    {{ form_end(delete_form) }}
    <div class="row justify-content-between">
        <div class="col-4">
            <a class="btn btn-primary btn-block" href="{{ path('apartment_index') }}">Назад</a>
        </div>
        <div class="col-4">
            <input class="btn btn-danger btn-block" onclick="$('form[name=form]').submit();
                    return true;" type="submit" value="Удалить" />
        </div>
        <div class="col-4">
            <input class="btn btn-success btn-block" type="submit" value="Изменить" />
        </div>
    </div>


{% endblock %}
